@import "variables";
@import "classes";

body {
  font-family: 'Open Sans', sans-serif;

  h1, h2, h3, h4, h5, h6 {
    font-family: $heading-font-family;
    margin: 10px 0;
  }

  h1 {
    font-size: 1.8rem;
  }
}
